{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Chatroom{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'chat/chat.css' %}">
{% endblock %}

{% block content %}
<div id="contact-list">
  {% for contact in contacts %}
  <div class="contact" data-dest="{{ contact.dest }}">{{ contact.name }}</div>
  {% empty %}
  No friend :(
  {% endfor %}
</div>
<div id="chat">
  <div id="dest"></div>
  <div id="dialog">
  </div>
  <div id="chat-input">
    <textarea name="chat" id="chat-message-input" cols="50" rows="5"
      placeholder="wait for connection" disabled=true
    ></textarea>
    <input type="submit" id="chat-message-submit" value="SEND">
  </div>
</div>
{{ user.id|json_script:"user-id" }}
{% endblock %}

{% block domready %}
  const userId = document.getElementById('user-id').textContent;

  window.chatSocket = new WebSocket(
     'ws://'
     + window.location.host
     + '/ws/chat/'
  );
  window.activeContact = null;
  const domContacts = document.querySelectorAll(".contact");
  domContacts.forEach(function(target, idx, nodeList){
    target.addEventListener("click", function(e){
      window.activeContact = e.target;
      document.querySelectorAll(".contact").forEach(function(t){
        t.classList.remove("active");
      });
      e.target.classList.add("active");
      const dialogId = e.target.dataset.dest;
      const domDialog = getDialog(dialogId);
      document.querySelectorAll(".dialog").forEach(function(t){
        t.classList.remove("active");
      });
      domDialog.classList.add("active");
      const domDest = document.getElementById("dest");
      domDest.innerText = this.innerText;
      if (window.chatSocket.readyState == 1){
        const messageInputDom = document.querySelector('#chat-message-input');
        messageInputDom.disabled = false;
        messageInputDom.placeholder = "Enter your message";
        messageInputDom.focus();
      }
    });}
  );

  function getDialog(dialogId){
    var domDialog = document.getElementById(dialogId);
    if (domDialog){
      return domDialog;
    }else {
      domDialog = document.createElement("div");
      domDialog.id = dialogId;
      domDialog.classList.add("dialog");
      const domDialogWrapper = document.getElementById("dialog");
      domDialogWrapper.appendChild(domDialog);
      return domDialog;
    }
  }

  chatSocket.onmessage = function(e) {
     const data = JSON.parse(e.data);
     const domMessage = document.createElement("div");
     const domUser = document.createElement("div");
     const domMsgContent = document.createElement("div");
     const domMsgContentWrapper = document.createElement("div");
     const dest = data.dest;
     domUser.classList.add("user");
     domMessage.classList.add("msg-box");
     domMessage.classList.add("clearfix");
     domMsgContentWrapper.classList.add("msg-wrapper");
     if (data.sender_id == userId){
       domMessage.classList.add("self");
     }else if (data.sender_id != 0){
       domMessage.classList.add("other");
     }else if (data.sender_id == 0){
       domMessage.classList.add("sys");
     }else {
       console.log("wrong user id", data.sender_id);
     }
     domMsgContent.classList.add("msg");
     domMessage.appendChild(domUser);
     domMsgContentWrapper.appendChild(domMsgContent);
     domMessage.appendChild(domMsgContentWrapper);
     domUser.dataset.uid = data.sender_id;
     domUser.innerText = data.sender_name;
     domMsgContent.innerText = data.message;
     const domDialogWrapper = document.querySelector('#dialog');
     const domDialog = getDialog(dest);
     domDialog.appendChild(domMessage);
     domDialog.scrollTo(0, domDialog.scrollHeight);
  };

  chatSocket.onclose = function(e) {
     console.error('Chat socket closed unexpectedly');
     const messageInputDom = document.querySelector('#chat-message-input');
     messageInputDom.disabled = true;
     messageInputDom.placeholder = "Connection break,Press F5 to refresh";
  };

  chatSocket.onopen = function(e) {
    const messageInputDom = document.querySelector('#chat-message-input');
    if (window.activeContact){
      messageInputDom.disabled = false;
      messageInputDom.placeholder = "Enter your message";
      messageInputDom.focus();
    } else {
      messageInputDom.placeholder = "Choose a Contact to send message";
    }
  };

  document.querySelector('#chat-message-input').focus();
  document.querySelector('#chat-message-input').onkeyup = function(e) {
     if (e.keyCode === 13) {  // enter, return
        e.preventDefault();
        document.querySelector('#chat-message-submit').click();
     }
  };

  document.querySelector('#chat-message-submit').onclick = function(e) {
     const messageInputDom = document.querySelector('#chat-message-input');
     const message = messageInputDom.value;
     if (message.trim() && window.activeContact){
       chatSocket.send(JSON.stringify({
         'message': message,
         'dest': window.activeContact.dataset.dest,
       }));
     } else {
       console.log("Cant send empty");
     }
     messageInputDom.value = '';
  };
{% endblock %}
