{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block main %}
  <h2>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
  </h2>
  {% if user == post.author %}
  <a href="{% url 'blog:post_edit' post.pk %}">Edit <span class="glyphicon glyphicon-pencil"></span></a>
  <a href="{% url 'blog:post_del' post.pk %}">Delete <span class="glyphicon glyphicon-trash"></span></a>
  {% endif %}
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body|markdown }}
{% endblock %}
